@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My 1st MVC project</h1>
    <h4>I'm Meherab Hasan. A noob entry level .Net Developer. Thanks for visiting</h4>
</div>
